package user

import (
  "ClubManager/frontend/internal/views/layout"
)

templ User() {
  @layout.Base() {
    <div id="main">
      <h1>User Page</h1>
      <button type="button" hx-get="/" hx-trigger="click" hx-target="#main" hx-swap="outerHTML">
        Change Page
      </button>
    </div>
  }
}
