package home

import (
  "ClubManager/frontend/internal/views/layout"
)

templ Home() {
  @layout.Base() {
    <div id="main">
      <h1>Home Page</h1>
      <button type="button" hx-get="/user" hx-trigger="click" hx-swap="outerHTML" hx-target="#main">
        Change Page
      </button>
    </div>
  }
}
